# --- SITE CONFIGURATION ---
SITE_URL=http://localhost:4321

# --- SANITY ---
# Project ID and dataset can be found in your Sanity project dashboard
PUBLIC_SANITY_PROJECT_ID=<the_sanity_project_id>
PUBLIC_SANITY_DATASET=production

# --- MAILERLITE ---
# Get your API key from MailerLite dashboard (Integrations -> API)
# https://dashboard.mailerlite.com/integrations/api
MAILERLITE_API_KEY=<REPLACE_WITH_YOUR_MAILERLITE_API_KEY>

# The ID of the group where new subscribers will be added
MAILERLITE_NEWSLETTER_GROUP_ID=<REPLACE_WITH_YOUR_MAILERLITE_GROUP_ID>
MAILERLITE_SWORD_UNRAVELED_LAUNCH_GROUP_ID=<REPLACE_WITH_YOUR_MAILERLITE_GROUP_ID>

# --- WEB3FORMS ---
# Main fallback key
WEB3FORMS_ACCESS_KEY=<REPLACE_WITH_YOUR_WEB3FORMS_ACCESS_KEY>
# Specific keys for different forms (optional)
WEB3FORMS_ACCESS_KEY_CONTACT=<REPLACE_WITH_YOUR_WEB3FORMS_ACCESS_KEY_FOR_CONTACT>
WEB3FORMS_ACCESS_KEY_SUPPORT=<REPLACE_WITH_YOUR_WEB3FORMS_ACCESS_KEY_FOR_SUPPORT>

# Turnstile configuration
WEB3FORMS_REQUIRE_TURNSTILE=false
PUBLIC_TURNSTILE_SITE_KEY=<REPLACE_WITH_YOUR_TURNSTILE_SITE_KEY>
