# --- SITE CONFIGURATION ---
SITE_URL=http://localhost:4321

# --- SANITY ---
# Project ID and dataset can be found in your Sanity project dashboard
PUBLIC_SANITY_PROJECT_ID=2p1tkf9p
PUBLIC_SANITY_DATASET=production

# --- MAILERLITE ---
# Get your API key from MailerLite dashboard (Integrations -> API)
# https://dashboard.mailerlite.com/integrations/api
MAILERLITE_API_KEY=<REPLACE_WITH_YOUR_MAILERLITE_API_KEY>

# The ID of the group where new subscribers will be added
MAILERLITE_GROUP_ID=<REPLACE_WITH_YOUR_MAILERLITE_GROUP_ID>
